&
    list-style-type none
    padding 0px
    margin 0px
    li
        position absolute
        border-bottom 2px solid white
        width 100%
        height 60px
        background #eee

        &:hover
            background #f0f0ff
            cursor pointer
        .name
        .party
            display block
            padding-left 95px
        .name
            font-size 1.2em
            color #222
            padding-top 9px
        img
            position absolute
            top 0px
            left 31px
        .party
            color #777
            font-style italic
            font-size 0.9em
            padding-top 2px
        .order
            display block
            position absolute
            bottom 14px
            left 0px
            width 28px
            padding-top 6px
            font-size 0.72em
            height (28px - @padding-top)
            border-radius 50%
            text-align center
        .barchart
            position absolute
            top 0px
            right 25px
            width 60px
            top 10px
            height 50px
            barCount = 4
            .bar
                position absolute
                height @height
                margin-right 0px
                width ((@width / barCount) - @margin-right)
                left @width
                div
                    position absolute
                    width @width
                    bottom 0px
                &.interpelace
                    left ((@width + @margin-right) * 1)
                    div
                        background scaleQualitativeMedium[0]
                &.zakony
                    left ((@width + @margin-right) * 2)
                    div
                        background scaleQualitativeMedium[1]
                &.vystoupeni
                    left ((@width + @margin-right) * 3)
                    div
                        background scaleQualitativeMedium[4]
                &.absence
                    left ((@width + @margin-right) * 0)
                    div
                        background scaleQualitativeMedium[3]
        svg
            position absolute
            top 5px
            right 80px
            width 60px
            height 60px

