&
    padding-left 20px
    img
        float right
    h2
        margin-bottom 0px
    h3.party
        margin-top 0px
        font-size 1em
        font-weight normal
        color #777
        font-style italic
    div.calendar
        width 380px
        height 184px
        position relative
        .month
            position absolute
            width 31px
            height 31px
            > div
                width @width
                height @height
                position absolute
                top 0px
                left 0px
                background red
                &.interpelace
                    background scaleQualitativeMedium[0]
                &.zakony
                    background scaleQualitativeMedium[1]
                &.vystoupeni
                    background scaleQualitativeMedium[4]

