&
    list-style-type none
    padding 0px
    margin 0px
    li
        background #f6f6ff
        position relative
        height 60px
        margin-bottom 2px
        &:hover
            background #f0f0ff
            cursor pointer
        .name
        .party
            display block
            padding-left 15px
        .name
            font-size 1.2em
            color #222
            padding-top 9px
        .party
            color #777
            font-style italic
            font-size 0.9em
            padding-top 2px
        .barchart
            position absolute
            top 0px
            right 5px
            width 60px
            top 10px
            height 50px
            barCount = 4
            .bar
                position absolute
                height @height
                width (@width / barCount)
                left @width
                div
                    position absolute
                    width @width
                    bottom 0px
                &.interpelace
                    left (@width * 0)
                    div
                        background scaleQualitativeMedium[0]
                &.zakony
                    left (@width * 1)
                    div
                        background scaleQualitativeMedium[1]
                &.absence
                    left (@width * 2)
                    div
                        background scaleQualitativeMedium[2]
                &.nazor
                    left (@width * 3)
                    div
                        background scaleQualitativeMedium[3]


