@import colors
body
    margin 0px
    font-family arial, sans-serif
    #wrap
        width 650px
        background white
        position absolute
        .filter
            position absolute
            top 0px
            left 0px
            width 100%
            div.party
                float left
                margin-top 2px
                select
                    width 200px
            div.sort
                margin-top 4px
                float right
        .poslanecList
            position absolute
            left 0px
            top 35px
            width @width
        .poslanecList
            @import poslanecList
