@import colors
body
    margin 0px
    font-family arial, sans-serif
    #wrap
        width 650px
        background #ffe
        .poslanecList
            list-style-type none
            padding 0px
            margin 0px
            li
                position relative
                height 60px
                .barchart
                    position absolute
                    top 0px
                    right 60px
                    width @right
                    height 50px
                    barCount = 2
                    .bar
                        position absolute
                        width (@width / barCount)
                        left @width
                        bottom 0px
                        background red
                        &.interpelace
                            background scaleQualitativeMedium[0]
                            left 0px
                        &.zakony
                            left (@width * 1)
                            background scaleQualitativeMedium[1]

