@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    a img
        border 0px
    #wrap
        width 650px
        background white
        position absolute
        p.junk
            position absolute
            top -2px
            left 0px
        .leftPart
            width 650px
            transition 0.4s
        .leftPart
        .rightPart
            height 500px
            position absolute
        .rightPart
            overflow-y auto
            overflow-x hidden

        .filter
            position absolute
            top 0px
            left 0px
            width 630px
            background white
            z-index 2
            div.party
                float left
                margin-top 2px
                select
                    width 410px
            div.sort
                margin-top 2px
                float right
        .poslanecList
            position absolute
            z-index 1
            left 0px
            top 0px
            height 500px
            overflow-y auto
            overflow-x hidden
            width @width
        .poslanecList
            @import poslanecList
        .rightPart
            background white
            width 620px
            top 0px
            left 0px
            transform translate(650px, 0px)
            transition 0.4s
            visibility hidden
        &.poslanecSelected
            .leftPart
                transform translate(-630px, 0px)
                .poslanecList
                    overflow hidden
                    .barchart
                    svg
                        display none
            .rightPart
                visibility visible
                transform translate(20px, 0px)
                .backButton
                    transform rotate(0)
        .poslanecDetail
            .backButton
                transition 0.5s
                transform rotate(180deg)
        .poslanecDetail
            @import poslanecDetail
    .chosen-container-single .chosen-single
        background-color: #fff;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
        background-image: -webkit-linear-gradient(#eee 1%,#fff 15%);
        background-image: -moz-linear-gradient(#eee 1%,#fff 15%);
        background-image: -o-linear-gradient(#eee 1%,#fff 15%);
        background-image: linear-gradient(#eee 1%,#fff 15%);
        padding-top 2px
        padding-bottom 2px
        border-radius 0px
        box-shadow none
        div b
            background-position 0px 4px
