body {
  margin: 0px;
  font-family: arial, sans-serif;
}
body #wrap {
  width: 650px;
  background: #ffe;
}
body #wrap .poslanecList {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
body #wrap .poslanecList li {
  position: relative;
  height: 60px;
}
body #wrap .poslanecList li .barchart {
  position: absolute;
  top: 0px;
  right: 60px;
  width: 60px;
  height: 50px;
}
body #wrap .poslanecList li .barchart .bar {
  position: absolute;
  width: 15px;
  left: 15px;
  bottom: 0px;
  background: #f00;
}
body #wrap .poslanecList li .barchart .bar.interpelace {
  background: #7fc97f;
  left: 0px;
}
body #wrap .poslanecList li .barchart .bar.zakony {
  left: 15px;
  background: #beaed4;
}
body #wrap .poslanecList li .barchart .bar.absence {
  left: 30px;
  background: #fdc086;
}
body #wrap .poslanecList li .barchart .bar.nazor {
  left: 45px;
  background: #ff9;
}
