body {
  margin: 0px;
  font-family: arial, sans-serif;
}
body a img {
  border: 0px;
}
body #wrap {
  width: 650px;
  background: #fff;
  position: absolute;
}
body #wrap .leftPart {
  transition: 0.4s;
}
body #wrap .filter {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
body #wrap .filter div.party {
  float: left;
  margin-top: 2px;
}
body #wrap .filter div.party select {
  width: 420px;
}
body #wrap .filter div.sort {
  margin-top: 2px;
  float: right;
}
body #wrap .poslanecList {
  position: absolute;
  left: 0px;
  top: 35px;
  width: 650px;
}
body #wrap .poslanecList {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
body #wrap .poslanecList li {
  position: absolute;
  width: 100%;
  height: 60px;
}
body #wrap .poslanecList li.ods {
  background: #eef8ff;
}
body #wrap .poslanecList li.ods:hover {
  background: #d5eeff;
}
body #wrap .poslanecList li.cssd {
  background: #fff6e7;
}
body #wrap .poslanecList li.cssd:hover {
  background: #ffedcf;
}
body #wrap .poslanecList li.kscm {
  background: #ffdde1;
}
body #wrap .poslanecList li.kscm:hover {
  background: #ffc5cc;
}
body #wrap .poslanecList li.top {
  background: #ffecf6;
}
body #wrap .poslanecList li.top:hover {
  background: #ffd3ea;
}
body #wrap .poslanecList li.vv {
  background: #f3fafe;
}
body #wrap .poslanecList li.vv:hover {
  background: #dcf0fc;
}
body #wrap .poslanecList li:hover {
  background: #f0f0ff;
  cursor: pointer;
}
body #wrap .poslanecList li .name,
body #wrap .poslanecList li .party {
  display: block;
  padding-left: 65px;
}
body #wrap .poslanecList li .name {
  font-size: 1.2em;
  color: #222;
  padding-top: 9px;
}
body #wrap .poslanecList li img {
  position: absolute;
  top: 0px;
  left: 0px;
}
body #wrap .poslanecList li .party {
  color: #777;
  font-style: italic;
  font-size: 0.9em;
  padding-top: 2px;
}
body #wrap .poslanecList li .barchart {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 75px;
  top: 10px;
  height: 50px;
}
body #wrap .poslanecList li .barchart .bar {
  position: absolute;
  height: 50px;
  width: 15px;
  left: 15px;
}
body #wrap .poslanecList li .barchart .bar div {
  position: absolute;
  width: 15px;
  bottom: 0px;
}
body #wrap .poslanecList li .barchart .bar.interpelace {
  left: 0px;
}
body #wrap .poslanecList li .barchart .bar.interpelace div {
  background: #7fc97f;
}
body #wrap .poslanecList li .barchart .bar.zakony {
  left: 15px;
}
body #wrap .poslanecList li .barchart .bar.zakony div {
  background: #beaed4;
}
body #wrap .poslanecList li .barchart .bar.absence {
  left: 30px;
}
body #wrap .poslanecList li .barchart .bar.absence div {
  background: #fdc086;
}
body #wrap .poslanecList li .barchart .bar.nazor {
  left: 45px;
}
body #wrap .poslanecList li .barchart .bar.nazor div {
  background: #386cb0;
}
body #wrap .poslanecList li .barchart .bar.vystoupeni {
  left: 60px;
}
body #wrap .poslanecList li .barchart .bar.vystoupeni div {
  background: #bf5b17;
}
body #wrap .rightPart {
  width: 620px;
  height: 500px;
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(650px, 0px);
  -o-transform: translate(650px, 0px);
  -ms-transform: translate(650px, 0px);
  -moz-transform: translate(650px, 0px);
  -webkit-transform: translate(650px, 0px);
  transition: 0.4s;
  visibility: hidden;
}
body #wrap.poslanecSelected .leftPart {
  transform: translate(-630px, 0px);
  -o-transform: translate(-630px, 0px);
  -ms-transform: translate(-630px, 0px);
  -moz-transform: translate(-630px, 0px);
  -webkit-transform: translate(-630px, 0px);
}
body #wrap.poslanecSelected .leftPart .poslanecList .barchart {
  display: none;
}
body #wrap.poslanecSelected .rightPart {
  visibility: visible;
  transform: translate(20px, 0px);
  -o-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  -moz-transform: translate(20px, 0px);
  -webkit-transform: translate(20px, 0px);
}
body #wrap.poslanecSelected .rightPart .backButton {
  transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
}
body #wrap .poslanecDetail .backButton {
  transition: 0.5s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
body #wrap .poslanecDetail {
  padding-left: 20px;
}
body #wrap .poslanecDetail img {
  float: right;
}
body #wrap .poslanecDetail a.backButton {
  position: absolute;
  top: 10px;
  left: 20px;
  display: block;
  width: 38px;
  height: 38px;
  border: 2px solid #1d1d1d;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #fff;
}
body #wrap .poslanecDetail a.backButton:hover {
  background: #eee;
}
body #wrap .poslanecDetail a.backButton img {
  position: absolute;
  top: -2px;
  left: -2px;
}
body #wrap .poslanecDetail h2,
body #wrap .poslanecDetail h3.party {
  margin-left: 60px;
}
body #wrap .poslanecDetail h2 {
  margin-top: 6px;
  margin-bottom: 0px;
}
body #wrap .poslanecDetail h3.party {
  margin-top: 0px;
  font-size: 1em;
  font-weight: normal;
  color: #777;
  font-style: italic;
}
body #wrap .poslanecDetail div.calendar {
  width: 380px;
  height: 184px;
  position: relative;
}
body #wrap .poslanecDetail div.calendar .month {
  position: absolute;
  width: 31px;
  height: 31px;
}
body #wrap .poslanecDetail div.calendar .month > div {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #f00;
}
body .chosen-container-single .chosen-single {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(#eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(#eee 1%, #fff 15%);
  background-image: -o-linear-gradient(#eee 1%, #fff 15%);
  background-image: linear-gradient(#eee 1%, #fff 15%);
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: none;
}
body .chosen-container-single .chosen-single div b {
  background-position: 0px 4px;
}
